body {
  font: 1em helvetica, arial, sans-serif;
  background-color: #fff;
  color: #222;
  padding-top: 1em;
}

.story {
  padding: 0 1em;
  margin: 1em 0;
}

.bar{
  background-color: #aaa;
  position: fixed;
  top: 0;
  left: 0;
  height: 1em;
  width: 100%;
  box shadow: 0 1em 1em rgba(0,0,0,0.5)
}

.progress{
  background-color: limegreen;
  width: 40%;
  height: 100%;
}

.h1copy{
  position: absolute;
  top: 0;
  left: 0;
  line-height: 2;
  padding-left: 1em;
}