body {
  padding-top: 1em;
}

body {
  font: 1em helvetica, arial, sans-serif;
  background-color: #fff;
  color: #222;
}

.story {
  padding: 0 1em;
  margin: 1em 0;
}

.progress-bar {
  background-color: limegreen;
  position: fixed;
  top: 0;
  left: 0;
  height: 1em;
  width: 25%;
  display: none;
}