body {
  font: 1em helvetica, arial, sans-serif;
  background-color: #fff;
  color: #222;
  padding-top: 1em;
}

.story {
  padding: 0 1em;
  margin: 1em 0;
}

.progrerss-bar{
  background-color: limegreen;
  position: fixed;
  top: 0;
  left: 0;
  height: 1em;
  width: 40%;
}