:root {
  --buffer-top: 2em;
}

body {
  padding-top: var(--buffer-top);
}

body {
  font: 1em helvetica, arial, sans-serif;
  background-color: #fff;
  color: #222;
}

.story {
  padding: 0 1em;
  margin: 1em 0;
}

.bar {
  background-color: rgba(200, 200, 200, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  height: var(--buffer-top);
  width: 100%;
  box-shadow: 0em 0.5em 1em rgba(0, 0, 0, 0.5);
  /* display: none; */
}
.bar:hover {
  background-color: rgba(200, 200, 200, 1);
}
.progress {
  background-color: limegreen;
  height: 100%;
  width: 20%;
}
.h1-copy {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 2;
  padding: 0 1em;
}